.food-display-container {
  background-color: white;
  margin: auto;
  width: 1375px;
  height: 700px;
  margin-left: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.food-display-top {
  display: flex;
  margin-bottom: 10px;
}

.food-display-top-right {
  margin: auto;
}

.food-display-top-right button {
  margin-top: 10px;
  width: 350px;
  background-color: #0099ff;
  color: white;
  height: 40px;
  border-radius: 10px;
  border-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.food-display-top-right button:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.food-display-top-left img {
  width: 450px;
  height: 350px;
  margin-bottom: 100px;
  margin-left: 10px;
  box-shadow: 1px 1px 2px 2px rgb(1, 1, 1, 1);
  margin-top: 10px;
  border-radius: 10px;
}

.food-display-values-container {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.calorie-division {
  height: 10px;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.macros-division {
  height: 5px;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.recipes-list-display {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out all;
  visibility: hidden;
  margin: auto;
  background-color: white;
  width: 500px;
  height: 650px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
  margin-left: 775px;
}

.show-list {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.recipe-list-display-format {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.recipe-display-cancel-button {
  background-color: #0099ff;
  margin: auto;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.recipe-display-cancel-button:hover {
  transform: scale(1.02);
  transition: 0.6s;
}

.recipe-display-cancel-button button {
  background-color: #0099ff;
  height: 45px;
  width: 450px;
  border-color: transparent;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.recipe-display-add-button {
  background-color: #0099ff;
  height: fit-content;
  margin-right: 5px;
  margin-top: 75px;
  width: fit-content;
  border-radius: 10px;
}

.recipe-display-add-button:hover {
  transform: scale(1.02);
  transition: 0.6s;
}

.recipe-display-add-button button {
  background-color: #0099ff;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  width: 150px;
  height: 25px;
  cursor: pointer;
}
