.stats-container {
  display: grid;
}

.userData-container {
  background-color: white;
  margin-left: 250px;
  display: flex;
  gap: 5px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  gap: 325px;
}

.userData-left-container {
  margin-top: 20px;
  margin-left: 10px;
}

.name-container {
  display: flex;
  gap: 5px;
}

.data-container {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  font-size: 16px;
}

.calories-container {
  margin-top: 50px;
  display: flex;
  margin-left: 250px;
  justify-content: space-between;
}

.macros-container {
  background-color: white;
  display: flex;
  gap: 5px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 450px;
}

.bfp-container circle {
  fill: none;
  transform: translate(75px, 5px);
}

.bfp-container {
  margin-top: 25px;
}

.bfp-container h3 {
  margin-top: 12px;
  margin-left: 65px;
}

.number {
  position: absolute;
  padding-left: 125px;
  top: 215px;
}
