.stats-container {
  display: grid;
}

.userData-container {
  background-color: white;
  margin-left: 250px;
  display: flex;
  gap: 5px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.userData-left-container {
  margin-top: 20px;
  margin-left: 10px;
}

.name-container {
  display: flex;
  gap: 5px;
}

.data-container {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  font-size: 16px;
}

.calories-container {
  margin-top: 50px;
  display: flex;
  margin-left: 250px;
  justify-content: space-between;
}

.macros-container {
  background-color: white;
  gap: 5px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 450px;
}

.bfp-container circle {
  fill: none;
  transform: translate(75px, 5px);
}

.bfp-container {
  margin-top: 25px;
}

.bfp-container h3 {
  margin-top: 12px;
  margin-left: 65px;
}

.number {
  position: absolute;
  padding-left: 125px;
  top: 215px;
}

.class-container {
  display: grid;
  gap: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.bmi-container {
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.under-container {
  background-color: #b9ddf7;
  width: 100px;
  border-radius: 5px;
}

.normal-container {
  background-color: #69bff8;
  width: 100px;
  border-radius: 5px;
}

.over-container {
  background-color: #45b2fa;
  width: 100px;
  border-radius: 5px;
}

.obese-container {
  background-color: #0099ff;
  width: 100px;
  border-radius: 5px;
}

.desc-container {
  margin-top: 20px;
}

.desc-container h1 {
  margin-top: 50px;
  margin-left: 70px;
  font-size: 50px;
}

.class-container h4 {
  margin-left: 5px;
}

.class-container p {
  margin-left: 5px;
  font-weight: bold;
}

.person-icon {
  margin-left: 60px;
  margin-top: 11px;
}

.quantities-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.quantities-container p {
  margin-top: 10px;
  font-size: 18px;
}

.chart-container {
  margin-left: 40px;
  margin-top: 25px;
}

.author-container {
  margin-top: 15px;
  margin-left: 15px;
}
