.admin-add-food-container {
  background-color: white;
  margin: auto;
  width: 700px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  margin-left: 600px;
  display: grid;
  justify-content: space-between;
}

.admin-add-food-logo {
  width: fit-content;
  margin: auto;
}

.admin-add-food-data {
  margin-left: 15px;
  margin-top: 12px;
}

.admin-add-food-image {
  margin-left: 15px;
}

.admin-add-food-data-container {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}

.admin-add-food-itemfield input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border-color: #8f8e8e;
}

.admin-add-food-button {
  margin: auto;
}

.admin-add-food-button button {
  width: 650px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #0099ff;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.area {
  width: 100%;
  height: 20vh;
  border: 4px dashed #979797;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/upload-512.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.area input {
  width: 400%;
  height: 100%;
  margin-left: -300%;
  border: none;
  cursor: pointer;
}

.area input:focus {
  outline: none;
}

.area .spinner {
  display: none;
  margin-top: 50%;
}

.area:hover,
.area.dragging,
.area.uploading {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.area.uploading {
  background: none;
}

.area img {
  width: 70px;
  margin: auto;
  border-radius: 10px;
}
